In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
book_df = pd.read_csv('Books.csv')
user_df = pd.read_csv('Users.csv')
rating_df = pd.read_csv('Ratings.csv')

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_15584\2299942828.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_df = pd.read_csv('Books.csv')

In [4]:
book_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
rating_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print(book_df.shape)
print(rating_df.shape)
print(user_df.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [7]:
book_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
user_df.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
rating_df.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
book_df.duplicated().sum()

0

In [11]:
user_df.duplicated().sum()

0

In [12]:
rating_df.duplicated().sum()

0

# Popularity Based Recomendation

In [14]:
df = pd.merge(left=book_df,right=rating_df,on='ISBN',how='inner')

In [15]:
df = pd.merge(left=df,right=user_df,on='User-ID',how='inner')

In [16]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0,"sudbury, ontario, canada",NaN

In [17]:
df.isnull().sum()

ISBN                        0
Book-Title                  0
Book-Author                 2
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 4
User-ID                     0
Book-Rating                 0
Location                    0
Age                    277835
dtype: int64

In [18]:
df.drop(columns='Age',inplace=True)

In [19]:
df['Book-Title'].duplicated().sum()

790065

In [20]:
num_rating_df= df.groupby('Book-Title').count()[['Book-Rating']].reset_index().rename(columns={'Book-Rating':'num_ratings'})

In [32]:
avg_rating_df = df.groupby('Book-Title')[['Book-Rating']].mean().reset_index().rename(columns={'Book-Rating':'avg_ratings'})

In [36]:
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [38]:
popularity_df = num_rating_df.merge(avg_rating_df,on="Book-Title")

In [40]:
popularity_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [42]:
top_50_df = popularity_df.loc[popularity_df['num_ratings']>=250].sort_values('avg_ratings',ascending=False).head(50)

In [44]:
top_50_df = top_50_df.merge(book_df,on='Book-Title')

In [46]:
top_50_df = top_50_df.drop_duplicates('Book-Title')

In [48]:
type(top_50_df.head(1))

pandas.core.frame.DataFrame

In [50]:
final_df = top_50_df[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_ratings']]

In [52]:
# now this is the popularity based recomending system
final_df.head(5)

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

# collabrating filter based

In [65]:
df.groupby('User-ID')['Book-Rating'].count()>200

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [69]:
x = df.groupby('User-ID').count()['Book-Rating']>200

In [70]:
x

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [73]:
# this masking will remove all false values from serires and our objectives is to get userId who voted above 200
x = x[x]

In [79]:
x

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 811, dtype: bool

In [81]:
# the index will contain all the user id who rated above 200 books
iq_users = x.index

In [83]:
iq_users

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=811)

In [85]:
filtered_df = df[df['User-ID'].isin(iq_users)]

In [87]:
 y = filtered_df.groupby('Book-Title').count()['Book-Rating'] > 50

In [88]:
top_50_books = y[y].index

In [91]:
filtered_df = filtered_df[filtered_df['Book-Title'].isin(top_50_books)]

In [93]:
filtered_df.shape

(57236, 11)

In [95]:
filtered_df.duplicated().sum()

0

In [97]:
pt = filtered_df.pivot_table(index='Book-Title',columns='User-ID',values="Book-Rating")

In [99]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [101]:
pt.fillna(0,inplace=True)

In [103]:
type(pt)

pandas.core.frame.DataFrame

In [107]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [109]:
from sklearn.metrics.pairwise import cosine_similarity

In [111]:
similarity = cosine_similarity(pt)

In [117]:
len(similarity[1])

679

In [134]:
sorted(list(enumerate(similarity[0])),key=lambda x:x[1],reverse=True)

[(0, 0.9999999999999998),
 (46, 0.2702651417103732),
 (524, 0.2639619371123497),
 (80, 0.23669374347400993),
 (610, 0.23299389358170394),
 (530, 0.2262639743141286),
 (174, 0.22222254415660225),
 (481, 0.21057743765309012),
 (332, 0.20675540390453995),
 (533, 0.20025063706783053),
 (501, 0.19972624710300058),
 (507, 0.19656287691544358),
 (469, 0.19511819825564608),
 (531, 0.1920889620576415),
 (306, 0.19182230688281934),
 (600, 0.1892531370760997),
 (574, 0.189213677823462),
 (59, 0.18908176672188648),
 (598, 0.18571699439818884),
 (623, 0.1841081817659337),
 (525, 0.18408910419891056),
 (195, 0.18049207281616433),
 (520, 0.17990898085771034),
 (297, 0.17415730924332484),
 (565, 0.1738182944100774),
 (516, 0.1700871998622835),
 (523, 0.1672877700938274),
 (65, 0.16566734565340116),
 (113, 0.165272766123669),
 (259, 0.1650329228149958),
 (342, 0.16337845332530374),
 (458, 0.16104067376144765),
 (393, 0.16041182196659062),
 (567, 0.16000267935045498),
 (641, 0.1589387141616799),
 (89, 0.15850821182810643),
 (207, 0.15570975499937129),
 (114, 0.15514318804365945),
 (547, 0.15344079020689355),
 (383, 0.1530551446766823),
 (322, 0.15293362041446346),
 (216, 0.1528098402276361),
 (554, 0.15211972188253267),
 (167, 0.14909595195082756),
 (162, 0.14702846562277322),
 (185, 0.14691166711955864),
 (345, 0.1459525808785892),
 (529, 0.1445684727872654),
 (619, 0.1444555917585842),
 (634, 0.14444516556944695),
 (614, 0.14440017099395475),
 (561, 0.14421330855040418),
 (20, 0.14333792815336935),
 (291, 0.1428139852200272),
 (537, 0.1420165983985733),
 (147, 0.14145186155692357),
 (241, 0.13974513728492968),
 (282, 0.13974104783917973),
 (373, 0.1390419059870689),
 (7, 0.13732869060263378),
 (26, 0.13658680855472938),
 (456, 0.13644383961641227),
 (492, 0.13617057407600314),
 (612, 0.13573542468856645),
 (243, 0.1351060763800879),
 (294, 0.13445376799866068),
 (395, 0.1343973311768824),
 (499, 0.13369059478865902),
 (648, 0.13365875731715246),
 (67, 0.13357242093379193),
 (199, 0.1327813903167589),
 (252, 0.13257638388225185),
 (361, 0.13107651944057502),
 (463, 0.13090710604063543),
 (422, 0.130281708532021),
 (190, 0.12871083086643306),
 (582, 0.12858515029485706),
 (406, 0.12822981990037824),
 (541, 0.1279402426979562),
 (64, 0.12680124740531368),
 (656, 0.1265536444037226),
 (276, 0.12548312467838352),
 (672, 0.12530648498478347),
 (616, 0.12522954271046702),
 (396, 0.12508513698245888),
 (314, 0.12468283384023092),
 (300, 0.1238906533021012),
 (635, 0.12340233502840114),
 (209, 0.12338216998991305),
 (536, 0.12333680291383342),
 (418, 0.12307492189941618),
 (28, 0.12167133598776536),
 (676, 0.12110366748083307),
 (603, 0.12024780353669523),
 (292, 0.11979305199464946),
 (245, 0.1184188929166314),
 (371, 0.1178980615083171),
 (233, 0.11784705785247843),
 (493, 0.11784149206441577),
 (18, 0.11706383185253948),
 (39, 0.11679968613719668),
 (84, 0.11661082872914152),
 (470, 0.1149487959814155),
 (580, 0.1144539948977886),
 (476, 0.11400426236261282),
 (349, 0.11362722122094872),
 (496, 0.11277296885857815),
 (15, 0.1115354275858341),
 (447, 0.11122764671322921),
 (112, 0.1103944810687539),
 (72, 0.1096807501418389),
 (353, 0.10941777035919222),
 (475, 0.10853661984252007),
 (625, 0.10850377176901972),
 (198, 0.10849696385128585),
 (452, 0.10800615252570414),
 (588, 0.10725981836116358),
 (145, 0.10684794535545848),
 (606, 0.10596223905942811),
 (77, 0.10519138203342883),
 (312, 0.10467615354986062),
 (82, 0.10397940924207362),
 (187, 0.1035963528100001),
 (442, 0.10354480865656568),
 (143, 0.10341190148072846),
 (421, 0.1033826953037451),
 (556, 0.10307399310158656),
 (221, 0.10266993316420167),
 (587, 0.10266590131312461),
 (315, 0.10266459423639845),
 (1, 0.10255024829874466),
 (416, 0.10228551050235933),
 (251, 0.10174252819190155),
 (388, 0.10135299399598713),
 (311, 0.10084626149563478),
 (407, 0.0999877199669616),
 (645, 0.09993168845101595),
 (132, 0.09974980034668827),
 (415, 0.09923541776574221),
 (444, 0.09919937023309428),
 (146, 0.09898722239993361),
 (591, 0.0987294045857185),
 (604, 0.09840359079895453),
 (596, 0.09797466122629746),
 (188, 0.09794374510256892),
 (350, 0.09791273187403501),
 (295, 0.09790644477767069),
 (47, 0.09779122591837028),
 (552, 0.09772941568150427),
 (360, 0.09754449459555777),
 (219, 0.09746696979819942),
 (13, 0.09673734976610586),
 (176, 0.09673267751838878),
 (621, 0.09508161331593905),
 (35, 0.09495937740802216),
 (647, 0.09488374038474037),
 (149, 0.09428288870384942),
 (495, 0.0928435169211848),
 (204, 0.09203038690315052),
 (364, 0.09132921952528268),
 (658, 0.09095705260744957),
 (336, 0.09014973218560088),
 (424, 0.09005001295005992),
 (386, 0.08996912406728536),
 (191, 0.08992738703666601),
 (423, 0.08988894455657523),
 (413, 0.08982750671022352),
 (49, 0.08958834926611466),
 (304, 0.08951389572154368),
 (352, 0.0891233745026412),
 (640, 0.08904275766583061),
 (548, 0.0885630163776942),
 (43, 0.08785938150991274),
 (210, 0.08784690368235953),
 (265, 0.08781992709390865),
 (23, 0.08723968326958673),
 (624, 0.08704223712018071),
 (271, 0.08673968616705958),
 (285, 0.08608600626732467),
 (494, 0.08588206473402643),
 (539, 0.08563805381851426),
 (519, 0.08541217689607684),
 (319, 0.08474055728984814),
 (42, 0.08471898090442946),
 (260, 0.08466191294337998),
 (235, 0.08422557655984436),
 (208, 0.08420691059370962),
 (657, 0.08418288167449578),
 (663, 0.0839284865111645),
 (41, 0.08354155383339157),
 (85, 0.08331012208964667),
 (14, 0.0830311169181103),
 (240, 0.08294512991462386),
 (515, 0.08280451731096075),
 (402, 0.0824612198578452),
 (6, 0.08216491130000354),
 (211, 0.08205944603394638),
 (498, 0.08200947294838494),
 (660, 0.08143881222401984),
 (116, 0.08139488796880032),
 (462, 0.08100800937525751),
 (445, 0.08091989315700655),
 (592, 0.0807748212690039),
 (503, 0.08062879942666365),
 (608, 0.0805438980307519),
 (426, 0.08033435626539932),
 (521, 0.08007284499901246),
 (581, 0.08001595368794218),
 (351, 0.07999692625971765),
 (38, 0.07984012108659384),
 (32, 0.07965814289647455),
 (266, 0.07885279086963545),
 (57, 0.07877058635507732),
 (290, 0.07866868132289853),
 (21, 0.07847534327232125),
 (629, 0.07845404559691257),
 (341, 0.07843565693314272),
 (234, 0.07839488163675291),
 (151, 0.07835976130061303),
 (664, 0.07785800873431292),
 (570, 0.07725115117942094),
 (318, 0.07652764821891074),
 (607, 0.07617194789896939),
 (27, 0.07600327535501017),
 (222, 0.0757441443938586),
 (454, 0.0755468596127809),
 (157, 0.07477661367406771),
 (571, 0.07464762808145006),
 (118, 0.07458202717929566),
 (218, 0.07458136399603107),
 (298, 0.07437756212042423),
 (244, 0.07423488726781508),
 (108, 0.07422249010392888),
 (639, 0.07391777683093743),
 (543, 0.07352435567112062),
 (441, 0.07348190409223959),
 (677, 0.07347566833900478),
 (485, 0.07276403383736725),
 (180, 0.07262017448772083),
 (126, 0.07258934796997447),
 (487, 0.07242165076731459),
 (517, 0.07213921021695388),
 (545, 0.0719421185191427),
 (343, 0.07161075491687474),
 (665, 0.07151793939760115),
 (465, 0.07150547342980032),
 (382, 0.07136276113078666),
 (514, 0.07052240553428667),
 (404, 0.07025002832914887),
 (573, 0.07021576771146076),
 (25, 0.07009814362931202),
 (310, 0.0700882246357741),
 (642, 0.06947573726333098),
 (528, 0.0691101496608291),
 (75, 0.06876130890656589),
 (497, 0.06868983304237651),
 (363, 0.06829903941402894),
 (231, 0.06806264765162154),
 (261, 0.06795352889900172),
 (488, 0.06790897506872169),
 (11, 0.06766486753662343),
 (50, 0.06748675491514017),
 (506, 0.06738056011305654),
 (651, 0.0672128392842741),
 (87, 0.06715432766232284),
 (335, 0.06681045925540752),
 (375, 0.06671644037106779),
 (68, 0.06615478064452682),
 (189, 0.06609996896203728),
 (560, 0.06572303470837207),
 (572, 0.06546695823953794),
 (289, 0.06541867556977009),
 (105, 0.06524573363186935),
 (430, 0.06523041320455897),
 (279, 0.06520605980064662),
 (471, 0.06513046875777172),
 (100, 0.06510721558252526),
 (513, 0.06476148889541151),
 (372, 0.06468143253238315),
 (617, 0.06455010070487521),
 (223, 0.06426525769208898),
 (472, 0.06401961292305569),
 (205, 0.06388401351716998),
 (408, 0.0635519690782283),
 (508, 0.06306425554305625),
 (559, 0.06303898971663935),
 (115, 0.06237453600241552),
 (338, 0.06206857320564754),
 (83, 0.06167753120046458),
 (22, 0.06150451339525138),
 (467, 0.06143184266443724),
 (428, 0.061398875647666676),
 (584, 0.06129105448105361),
 (510, 0.06123118935155921),
 (368, 0.06113178628791212),
 (451, 0.060877194204984726),
 (163, 0.06087281632872059),
 (281, 0.06069830203664196),
 (384, 0.06039873575147915),
 (48, 0.060160461842087495),
 (356, 0.060039300152930415),
 (141, 0.05995157134958024),
 (183, 0.05994663767295999),
 (569, 0.05940546334243634),
 (120, 0.059363300295016304),
 (200, 0.059152881703632795),
 (337, 0.05914734917065386),
 (601, 0.05894189200911533),
 (674, 0.05864096359154978),
 (99, 0.058191840680734276),
 (482, 0.058097069301565475),
 (649, 0.057940637804840725),
 (378, 0.057620863815487075),
 (505, 0.057560148077814344),
 (358, 0.05755407693373189),
 (557, 0.057157891413611744),
 (646, 0.05711356172333468),
 (40, 0.056912401804646934),
 (449, 0.05666140304625101),
 (117, 0.056554138733275305),
 (55, 0.05629066845910846),
 (168, 0.05606788035530558),
 (526, 0.05600272988869),
 (254, 0.055102704646119355),
 (44, 0.05491435163039676),
 (45, 0.054850498513470236),
 (460, 0.05438295377092604),
 (577, 0.05437622462310082),
 (466, 0.05428487095514969),
 (220, 0.05416091103251691),
 (179, 0.05400331245399732),
 (201, 0.053729841666378134),
 (4, 0.053672244225442485),
 (599, 0.053445774200822666),
 (425, 0.05332049434044375),
 (103, 0.05273164983675109),
 (486, 0.05264856975654457),
 (436, 0.05261953990010256),
 (669, 0.05237226614377158),
 (412, 0.0522373263993224),
 (58, 0.052194792200893965),
 (622, 0.05179020017229585),
 (468, 0.051616531477964966),
 (535, 0.05144282019851702),
 (448, 0.051434806536338154),
 (196, 0.05141892092902459),
 (16, 0.05100410510067514),
 (392, 0.05021880312673623),
 (148, 0.05007429159938883),
 (578, 0.04932819154504025),
 (246, 0.049300912125160704),
 (440, 0.048593102089385304),
 (249, 0.04815971759587031),
 (267, 0.04799058127298857),
 (457, 0.04796762686649386),
 (347, 0.047796293241950796),
 (206, 0.04773328410790857),
 (197, 0.047717402129725514),
 (98, 0.04768602689229997),
 (102, 0.047670497142785574),
 (123, 0.04734092759216691),
 (411, 0.04706590154362337),
 (239, 0.046982457315643385),
 (477, 0.046392498261486066),
 (558, 0.046000562607200646),
 (427, 0.045977952103493924),
 (613, 0.045785523306335146),
 (586, 0.04550867061591275),
 (270, 0.04549923467689111),
 (433, 0.04542765998492866),
 (33, 0.04522616573040869),
 (74, 0.04521795287053612),
 (153, 0.04515898041752436),
 (257, 0.04504597870526374),
 (52, 0.044680983219421905),
 (286, 0.04433882752568145),
 (553, 0.044043586511889346),
 (483, 0.043491562429456586),
 (410, 0.04335826491498011),
 (678, 0.04316045784191231),
 (63, 0.04279501979786338),
 (633, 0.04223674045619745),
 (662, 0.042188025333763236),
 (563, 0.04203701143606598),
 (527, 0.04133585716291763),
 (305, 0.04005551020725377),
 (156, 0.04003333547158616),
 (626, 0.03954864515701187),
 (334, 0.03902659506471766),
 (627, 0.03836309816637586),
 (119, 0.03771888280719047),
 (110, 0.03734566872286401),
 (668, 0.03734566872286401),
 (217, 0.03709430441334803),
 (215, 0.03671505063990275),
 (9, 0.03667590746512177),
 (182, 0.036498718026030004),
 (171, 0.03643816906953526),
 (224, 0.03601739518550193),
 (316, 0.035498355256648746),
 (509, 0.03499381360818396),
 (258, 0.03482458685305275),
 (202, 0.034785003361519164),
 (630, 0.03455547895208963),
 (544, 0.03421894679431926),
 (122, 0.03355602562283),
 (78, 0.03349456939792139),
 (90, 0.03280520241000348),
 (8, 0.03261686350494277),
 (170, 0.03199916313406436),
 (131, 0.030678189040978528),
 (309, 0.03054044240047009),
 (631, 0.030076807297674774),
 (262, 0.029876534978291205),
 (62, 0.029845724311982225),
 (121, 0.02955369248311012),
 (327, 0.02946442510264468),
 (287, 0.029430847399312027),
 (346, 0.029397384230560795),
 (409, 0.028830240654024085),
 (140, 0.028808272598853126),
 (273, 0.028806369616477166),
 (637, 0.028443700563612766),
 (618, 0.02817521704586765),
 (136, 0.028108399645259814),
 (104, 0.02810009706063171),
 (73, 0.02806606106883051),
 (366, 0.02781406274224919),
 (5, 0.027749013024662858),
 (144, 0.027667475691473428),
 (165, 0.027418756526771074),
 (94, 0.02687778911799567),
 (160, 0.026674838717939867),
 (317, 0.026674838717939867),
 (484, 0.02646255704581015),
 (248, 0.026330228561191004),
 (37, 0.026104653172312028),
 (589, 0.026053401473749117),
 (302, 0.025808491020821493),
 (92, 0.025797824097510556),
 (164, 0.025783211586063344),
 (400, 0.025480338679592467),
 (17, 0.025177841632809915),
 (575, 0.02494136129371724),
 (632, 0.024840764583155147),
 (278, 0.02482518222135733),
 (538, 0.024720785609384784),
 (227, 0.024635927968282654),
 (628, 0.02463490862737704),
 (193, 0.024601653277066596),
 (212, 0.024337026385897676),
 (490, 0.024318094429406693),
 (130, 0.02428501142412964),
 (275, 0.024141217209915328),
 (135, 0.024108621631248803),
 (666, 0.02407593195976403),
 (532, 0.023933399289577127),
 (540, 0.023634261138311616),
 (397, 0.02329035016031528),
 (10, 0.02322418425912186),
 (512, 0.023175154774464087),
 (583, 0.023066582966561253),
 (429, 0.023049037833599993),
 (381, 0.02297481006625077),
 (546, 0.022970785411852147),
 (502, 0.0228620664348094),
 (564, 0.022760772453994885),
 (307, 0.02267512161790004),
 (379, 0.02266096293926825),
 (288, 0.022424955017243866),
 (177, 0.02190023295408395),
 (511, 0.021801683645525486),
 (321, 0.021774817728178283),
 (95, 0.02175821065382328),
 (359, 0.021668631362692693),
 (405, 0.021636698437203145),
 (593, 0.02159225803102367),
 (326, 0.021530886296301118),
 (229, 0.021353685011361416),
 (638, 0.021320163671431275),
 (142, 0.021276714965680187),
 (269, 0.021238372796229556),
 (106, 0.021163446843373374),
 (355, 0.02115842407200956),
 (93, 0.02114858980511902),
 (107, 0.02097867986921867),
 (491, 0.020935646634428463),
 (585, 0.02090768582511093),
 (186, 0.020860053643757807),
 (595, 0.020846396819831855),
 (12, 0.020839782065795794),
 (329, 0.020767833514212724),
 (652, 0.020669978441948792),
 (237, 0.02040796206066411),
 (226, 0.02033558874805688),
 (232, 0.020321161226731627),
 (420, 0.020281245334279798),
 (274, 0.020221447157344582),
 (178, 0.020135489410098205),
 (340, 0.020059585724360268),
 (398, 0.019872703940133213),
 (283, 0.019788442258843547),
 (173, 0.01962921144060071),
 (250, 0.019598256153707194),
 (53, 0.019208718234636258),
 (431, 0.01915362558614925),
 (566, 0.019099672781938637),
 (597, 0.019067312487474012),
 (230, 0.019033695446023926),
 (403, 0.01902896010686717),
 (159, 0.018873932015163516),
 (551, 0.018786559700050654),
 (255, 0.018611497829688243),
 (293, 0.01858409288796079),
 (654, 0.018394279624570017),
 (320, 0.018319772326554337),
 (478, 0.018252769789423258),
 (36, 0.018230696811058135),
 (139, 0.0181287703514146),
 (348, 0.018072383204619496),
 (370, 0.018015801292409934),
 (357, 0.017971540540139944),
 (675, 0.017696441246693336),
 (459, 0.017598641856748937),
 (419, 0.01758928833928951),
 (369, 0.017572862308732076),
 (109, 0.017527779718968118),
 (522, 0.017396246144706713),
 (308, 0.017303468493582226),
 (620, 0.017210453378914768),
 (443, 0.0171880657878069),
 (576, 0.017050265851722604),
 (134, 0.016901518597837405),
 (313, 0.016834621675675482),
 (390, 0.016763442237401817),
 (125, 0.016719816747289874),
 (667, 0.016351262734144115),
 (489, 0.016265641643564675),
 (247, 0.016216682151444957),
 (594, 0.016142753550857224),
 (97, 0.016016629607635186),
 (111, 0.01579666260459111),
 (225, 0.01559751952620105),
 (34, 0.01556270914112474),
 (333, 0.015542921836058245),
 (387, 0.015459465622161536),
 (367, 0.015333681815045101),
 (555, 0.015222501642298877),
 (175, 0.015158449197584845),
 (636, 0.015102006885841438),
 (534, 0.015076532862248153),
 (602, 0.014881608648267744),
 (30, 0.01473221255132234),
 (268, 0.014679640011206505),
 (161, 0.01432863977616057),
 (150, 0.014112489355409683),
 (79, 0.013634576553468258),
 (76, 0.013316271087745269),
 (437, 0.01317087876205714),
 (155, 0.012814117802391826),
 (284, 0.012608239194211564),
 (61, 0.012406560213354146),
 (242, 0.012345246102533871),
 (2, 0.012208555646509366),
 (158, 0.012179056920074677),
 (480, 0.011952011165403655),
 (330, 0.011948245768325256),
 (518, 0.011722012964226876),
 (192, 0.011474570339750256),
 (670, 0.011401692977613393),
 (181, 0.011116365315772406),
 (399, 0.011056735115042383),
 (542, 0.01083152786792504),
 (611, 0.01073641547918824),
 (91, 0.010689154840164533),
 (325, 0.010632508151830204),
 (643, 0.010607867311865709),
 (605, 0.010481255663709239),
 (301, 0.010423913217045038),
 (124, 0.010066425112509755),
 (671, 0.009687245558530464),
 (331, 0.009536746594659161),
 (673, 0.009099054369341325),
 (401, 0.0089604367821904),
 (272, 0.00885998445194921),
 (152, 0.00882242400686552),
 (414, 0.00875634332679306),
 (86, 0.00850895140653615),
 (380, 0.008448763927099017),
 (29, 0.007680459111722776),
 (659, 0.007305889033771798),
 (464, 0.00581843892000093),
 (56, 0.005579638588454276),
 (446, 0.0035883533320389396),
 (213, 0.00272862336930817),
 (590, 0.0017370894470936135),
 (3, 0.0),
 (19, 0.0),
 (24, 0.0),
 (31, 0.0),
 (51, 0.0),
 (54, 0.0),
 (60, 0.0),
 (66, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (81, 0.0),
 (88, 0.0),
 (96, 0.0),
 (101, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (133, 0.0),
 (137, 0.0),
 (138, 0.0),
 (154, 0.0),
 (166, 0.0),
 (169, 0.0),
 (172, 0.0),
 (184, 0.0),
 (194, 0.0),
 (203, 0.0),
 (214, 0.0),
 (228, 0.0),
 (236, 0.0),
 (238, 0.0),
 (253, 0.0),
 (256, 0.0),
 (263, 0.0),
 (264, 0.0),
 (277, 0.0),
 (280, 0.0),
 (296, 0.0),
 (299, 0.0),
 (303, 0.0),
 (323, 0.0),
 (324, 0.0),
 (328, 0.0),
 (339, 0.0),
 (344, 0.0),
 (354, 0.0),
 (362, 0.0),
 (365, 0.0),
 (374, 0.0),
 (376, 0.0),
 (377, 0.0),
 (385, 0.0),
 (389, 0.0),
 (391, 0.0),
 (394, 0.0),
 (417, 0.0),
 (432, 0.0),
 (434, 0.0),
 (435, 0.0),
 (438, 0.0),
 (439, 0.0),
 (450, 0.0),
 (453, 0.0),
 (455, 0.0),
 (461, 0.0),
 (473, 0.0),
 (474, 0.0),
 (479, 0.0),
 (500, 0.0),
 (504, 0.0),
 (549, 0.0),
 (550, 0.0),
 (562, 0.0),
 (568, 0.0),
 (579, 0.0),
 (609, 0.0),
 (615, 0.0),
 (644, 0.0),
 (650, 0.0),
 (653, 0.0),
 (655, 0.0),
 (661, 0.0)]

In [119]:
np.where(pt.index=='1984')

(array([0], dtype=int64),)

In [219]:
def recommend_books(book_name):
    similar_movies = list()
    index_of_book = np.where(pt.index == book_name)[0][0]
    book_similarities = sorted(list(enumerate(similarity[index_of_book])),key=lambda x:x[1],reverse=True)[1:6]
    for i in book_similarities:
       similar_movies.append(pt.index[i[0]])
    return similar_movies

In [210]:
sorted(list(enumerate(similarity[0])),key=lambda x:x[1],reverse=True)[1:6]

[(46, 0.2702651417103732),
 (524, 0.2639619371123497),
 (80, 0.23669374347400993),
 (610, 0.23299389358170394),
 (530, 0.2262639743141286)]

In [223]:
recommend_books('A Case of Need')

['Clear and Present Danger (Jack Ryan Novels)',
 'Exclusive',
 'Harvest',
 'Mind Prey',
 'The Hundred Secret Senses']